<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user_name %></title>
</head>
<body>
    <h1><%= user_name %>'s posts</h1>
    <img src=<%= img_link %> alt="<%= user_name %>'s posts">
</body>
</html>